<!-- Fichero de configuración por defecto 

     Orden de búsqueda para la configuración:
     1. ~/.idiginbpel/config.xml
     2. ./home/config.xml
     3. /usr/share/idiginbpel/config.xml -->
<config>
    <!-- Directorio del usuario -->
    <home src="~/.idiginbpel"/>
    <!-- Directorio de archivos de runtime-->
    <share src="~/IdiginBPEL/share"/>
    <!-- Directorio de takuan -->
    <takuan src="~/takuan"/>
    <!-- Directorio de BPELUnit -->
    <bpelunit src="~/bin/AeBpelEngine"/>
    <!-- Url servidor -->
    <svr value="localhost" />
    <!-- Puerto servidor -->
    <port value="7777" />
</config>
