<!-- Default configuration file

     The application looks for this file in the following order:
     1. ~/.idiginbpel/config.xml
     2. ./home/config.xml
     3. /usr/share/idiginbpel/config.xml -->
<config>
    <!-- User directory -->
    <home src="~/.idiginbpel">"idg.help.home"</home>
    <!-- Runtime directory -->
    <share src="~/IdiginBPEL/share">"idg.help.share"</share>
    <!-- takuan instalation -->
    <takuan src="~/takuan">"idg.help.takuan"</takuan>
    <!-- BPELUnit instalation -->
    <bpelunit src="~/bin/AeBpelEngine">"idg.help.bpelunit"</bpelunit>
    <!-- Server url -->
    <svr value="localhost">"idg.help.svr"</svr>
    <!-- Server port -->
    <port value="7777">"idg.help.port"</port>
</config>
