<!-- Fichero de configuración por defecto 

     Orden de búsqueda para la configuración:
     1. ~/.idiginbpel/config.xml
     2. ./home/config.xml
     3. /usr/share/idiginbpel/config.xml -->
<config>
    <!-- Directorio del usuario -->
    <home src="~/.idiginbpel"/>
    <!-- Directorio de instalación -->
    <share src="/usr/share/idiginbpel"/>
    <!-- Directorio de takuan -->
    <takuan src="~/takuan"/>
</config>
